* {
    box-sizing: border-box;
}

:root {
    --bg: ghostwhite;
    --txt-color: #333;
    --particle-color: #333;
    --spring-color: crimson;

}

html {

    color: var(--txt-color);
    font-weight: 300;
    font-family: Rubik;

    background-color: var(--bg);

}

canvas {
    width: 500px;
    height: 500px;
    border: 5px solid var(--txt-color);
}

.container-buttons {
    display: block;
}

.controls {

    margin-block: 1rem;
    
}

.wrapper-input {
    display: flex;
    margin-block: .5rem;
}

.wrapper-input > * + * {
    margin-left: 1rem;
}

button {

    font-family: inherit;
    padding: .25em .5em;
    border-radius: 5px;

}

button.toggle {

    background-color: transparent;
    border-style: dashed;

}

button.toggle.activated {

    background-color: var(--txt-color);
    border-color: gray;
    color: var(--bg);
    border-style: solid;

}