* {
    box-sizing: border-box;
}

:root {
    --bg: #F6E2DF;
    --txt-color: #333;
    --particle-color: #BF2C62;
    --spring-color: #1E5693;
    --blob-fill-color: #F2A007;
    --blob-stroke-color: #D95407;
    --grid-color: #555;

    --vector-spring-force-color: 
    --vector-gravity-color:
    --vector-pressure-force-color:
    --vector-resultant-force-color:

}

html {

    color: var(--txt-color);
    font-weight: 300;
    font-family: Rubik;

    background-color: var(--bg);

}

canvas {
    width: 500px;
    height: 500px;
    border: 5px solid var(--txt-color);
}

.container-buttons {
    display: block;
}

.controls {

    margin-block: 1rem;
    
}

.wrapper-input {
    display: flex;
    margin-block: .5rem;
}

.wrapper-input > * + * {
    margin-left: 1rem;
}

button {

    font-family: inherit;
    padding: .25em .5em;
    border-radius: 5px;

}

button.toggle {

    background-color: transparent;
    border-style: dashed;

}

button.toggle.activated {

    background-color: var(--txt-color);
    border-color: gray;
    color: var(--bg);
    border-style: solid;

}

button.vectors-main.activated {

    background-color: transparent;
    color: currentColor;
    border-style: solid;
}

.dependent-wrapper {
    overflow: hidden;
}

.dependent-wrapper button {
    transition: transform .5s;
}

.dependent-wrapper.hidden button {
    transform: translateY(-100%);
}

.dependent-wrapper button:nth-child(1) { transition-delay: 0s}
.dependent-wrapper button:nth-child(2) { transition-delay: .2s}
.dependent-wrapper button:nth-child(3) { transition-delay: .4s}
.dependent-wrapper button:nth-child(4) { transition-delay: .6s}

